<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" backupGlobals="false" backupStaticAttributes="true" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="true">
	<testsuites>
		<testsuite name="unit">
			<directory>./</directory>
		</testsuite>
	</testsuites>

	<logging>
		<junit outputFile="../target/phpunit/junit.xml"/>
	</logging>
</phpunit>
