<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" 
         backupGlobals="false" 
		 backupStaticAttributes="true" 
		 colors="true" 
		 convertErrorsToExceptions="true" 
		 convertNoticesToExceptions="true" 
		 convertWarningsToExceptions="true" 
		 processIsolation="false" 
		 stopOnFailure="true">
	<testsuites>
		<testsuite name="unit">
			<directory>./</directory>
		</testsuite>
	</testsuites>

	<logging>
		<junit outputFile="../../junit.xml"/>
	</logging>

	<coverage
          includeUncoveredFiles="true"
          processUncoveredFiles="true"
          pathCoverage="false"
          ignoreDeprecatedCodeUnits="true"
          disableCodeCoverageIgnore="true">
		  <include>
    <directory suffix=".php">../../src</directory>
</include>
	<report>
		<html outputDirectory="../../coverage" lowUpperBound="50" highLowerBound="90"/>
		<clover outputFile="../../clover.xml"/>
	</report>
</coverage>
</phpunit>
