name: Main
on:
  push:
    branches:
      - master
      - 'feature/**'
      - 'releases/**'
    tags-ignore:
      - v1.0.0
  pull_request:
    branches: [ master ]
jobs:
  lint:
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        php-versions: ['8.4']
        os: ['ubuntu-latest','windows-latest','macOS-latest']
    runs-on: ubuntu-latest
    name: PHP ${{ matrix.php-versions }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: mbstring, dom, fileinfo
        coverage: xdebug
    - name: Check PHP Version
      run: php -v

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v4
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Check style
      run: composer run cs
  test:
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        php-versions: ['8.4']
        os: ['ubuntu-latest']
    runs-on: ubuntu-latest
    name: PHP ${{ matrix.php-versions }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: mbstring, dom, fileinfo
        coverage: xdebug

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Unit test
      run: composer run unit
      env:
        XDEBUG_MODE: coverage

    - name: Generate docs site
      run: |
        npm install
        npm run docs:build 

    - name: Save coverage report
      uses: actions/upload-artifact@v5
      with:
        name: coverage
        path: coverage/
    - name: Save docs site
      uses: actions/upload-artifact@v5
      with:
        name: docs
        path: docs/.vuepress/dist
  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        ref: gh-pages
        persist-credentials: false
        fetch-depth: 0
    - name: Remove old coverage
      run: if [ -d ./coverage ] ; then rm -r ./coverage; fi
    - uses: actions/download-artifact@v6
      with:
        name: coverage
        path: coverage
    - uses: actions/download-artifact@v6
      with:
        name: docs
        path: .
    - name: list dir
      run: ls -la coverage
    - name: Commit files
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add -A
        git commit -m "Updated documentation"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages